/* 

// APP COLOR SCHEME:

PINK:   rgb(249, 9, 110)
  hex:  #F9096E

LIGHT BLUE: rgb(36, 201, 201)
  hex:      #24C9C9

GREEN: rgb(154, 204, 0)
  hex: #9ACC00

*/

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.navbar-default .navbar-brand {
  font-family: 'Pacifico', cursive;
  font-weight: 700; 
  font-size: 200%;
  color: rgb(249, 9, 110);
}

.navbar-default .navbar-brand:hover {
  color: #C50053;
}

.navbar-default .navbar-brand:focus {
  color: #C50053;
}

.nav .navbar-nav .navbar-right {
  color: #00B343;
}

.img-responsive {
  padding-left: 2px;
  padding-top: 7px;
}
.center-block {
  padding-bottom: 5px;
}

.signinBox {
  margin-top: 20px;
}

.signupBox {
  margin-top: 20px;
}

.signoutBox {
  margin-top: 20px;
}

.storyBoxStyling {
  background-color: #eee;
  height: 400px;
  margin: 10px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 1px solid silver;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  box-sizing: border-box;
}

.jumbotron {
  background-color: rgba(36, 201, 201, .35);
  // border-style: solid;
  // border-radius: 1px;
  border-color: rgb(36, 201, 201);
  border: 1px solid rgb(36, 201, 201);
  border-radius: 4px;
}

.jumbotron h1,
.jumbotron .h1 {
  color: rgb(249, 9, 110);
}

.btn-primary {
  background-color: rgb(36, 201, 201);
  border-color: rgb(35, 191, 191);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(0, 166, 166, .60);
  border-color: rgb(0, 166, 166);
}

.btn-primary.focus {
  color: #fff;
  background-color: rgba(0, 166, 166, .60);
  border-color: rgb(0, 166, 166);
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: rgba(0, 166, 166, .60);
  border-color: rgb(0, 166, 166);
}

.btn-success {
  background-color: rgb(154, 204, 0);
  border-color: rgb(142, 188, 0);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-success:hover {
  color: #fff;
  background-color: rgba(130, 170, 6, .75);
  border-color: rgb(125, 163, 9);
}

.btn-success.focus {
  color: #fff;
  background-color: rgba(130, 170, 6, .75);
  border-color: rgb(125, 163, 9);
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: rgba(130, 170, 6, .75);
  border-color: rgb(125, 163, 9);
} 

.btn-danger {
  background-color: rgb(249, 9, 110);
  border-color: rgb(241, 0, 101);
}

.btn-danger:hover {
  color: #fff;
  background-color: ;
  border-color: ;
}

.btn-danger.focus {
  color: #fff;
  background-color: ;
  border-color: ;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.panel {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 1px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-info {
  float: left;
  margin: 15px;
  padding: 0px;
  border-color: lightgrey;
}

.panel-info > .panel-heading {
  background-color: rgba(36, 201, 201, .05);
  margin-top: 0px;
  margin-bottom: 5px;
  color: inherit;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel-body {
  -webkit-padding-start: 10px;
  padding: 5px;
  background-color: white;
  margin-bottom: 0px;
}


.fwib-appear {
   opacity: 0.01;
}

.fwib-appear.fwib-appear-active {
   opacity: 1;
   transition: opacity 300ms linear;
}
